@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
}

label {
  font-weight: 600 !important;
}

strong {
  font-weight: 700;
}

s {
  display: inline-block;
  max-width: fit-content;
  position: relative;
  text-decoration: none;
}
s:after {
  border-top: 2px solid red;
  bottom: 0;
  content: '';
  height: calc(50% - 1px);
  left: 0;
  position: absolute;
  transform: rotateZ(-4deg);
  width: 100%;
}
