.mollie-component {
  background-color: #ffffff;
  border-radius: 4px;
  border: solid 1px #919191;
  /* color: #212121; */
  /* font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; */
  /* font-size: 16px; */
  padding: 14px 16px;
  width: 100%;
  height: 48px;
}

.mollie-component:hover {
  border-color: var(--alias-input-border-color-hover);
}

.mollie-component.has-focus  {
  border-color: var(--alias-input-border-color-focus);
  box-shadow: var(--alias-focus-box-shadow);
  outline: none;
}

.mollie-component:invalid {
  border-color: #e92326;
}

.mollie-component:invalid.mollie-component:focus {
  box-shadow: 0 0 0 2px #f97a7d;
}

.mollie-component .input-container {
  color: 'blue';
}